.form-contendedor {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.form-class {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  width: 100%;
  max-width: 600px;
  background-color: #333;
}

#input-edit {
  background-color: transparent;
  padding-right: 1em;
  border: none;
  border-bottom: solid deeppink 2px;
  margin-bottom: 5px;
  font-size: 13.5px;
  color: rgb(167, 167, 167);
  outline: none;
}

.label-edit {
  margin-bottom: 5px;
  color: lightsteelblue;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
  1px -1px 1px #000;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.btn-form-edit {
  font-size: 13px;
  max-width: 150px;
  width: 100%;
  background: rgb(248, 73, 166);
  background: linear-gradient(
    260deg,
    rgba(248, 73, 166, 0.897) 0%,
    rgba(176, 196, 222, 1) 100%
  );
  border: solid 1px black;
  font-weight: bolder;
  cursor: pointer;
}

.btn-form-edit:hover {
  font-size: 13px;
  max-width: 150px;
  width: 100%;
  background: #333;
  border: solid 1px lightsteelblue;
  color: lightsteelblue;
  font-weight: bolder;
  cursor: pointer;
}

.prop-img {
  max-width: 600px;
  width: 100%;
  height: 427px;
}

.prop-img-content {
  border: solid 2px black;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .prop-img {
    display: none;
  }

  .prop-img-content {
    display: none;
  }

  .btn-div {
    justify-content: center;
  }
}

@media screen and (max-height: 540px) {
  .form-contendedor {
    height: 150vh;
  }
}
