.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  height: 5vh;
  width: 100%;
  z-index: 10;
}

.header-bg {
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.5s;
}

.nav-menu {
  display: flex;
}

.titulo {
  color: white;
  font-weight: bolder;
}

.nav-menu li {
  padding: 0 1rem;
  color: white;
  font-weight: bolder;
  text-decoration: underline 0.2em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  cursor: pointer;
}

.nav-menu li:hover {
  color: white;
  transition: all 0.2s ease;
  text-decoration-color: lightsteelblue;
  text-shadow: rgba(121, 108, 111, 0.178) 0.1em 0.1em 0.2em;
}

.nav-login {
  display: flex;
  align-items: center;
}

.nav-icon {
  color: white;
  margin-left: 0.5rem;
}

.hamburguer {
  display: none;
}

/*{SUBMENU}*/
.sub-menu {
  display: none;
}

.children {
  display: block;
  position: absolute;
  text-align: left;
  width: 100%;
  max-width: 150px;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.795);
  z-index: 2;
}

.children .sub-li {
  display: block;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 0.8rem;
  color: white;
  text-shadow: none;
}

.children .sub-li:hover {
  color: lightsteelblue;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: none;
}

/*{ICONOS}*/
.material-icons {
  font-family: "Material Icons";
  margin-top: 4px;
  font-weight: bolder;
  float: right;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: beige;
}

/*{TOOLTIP}*/

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(mensaje);
  position: absolute;
  top: 130%;
  right: 0;
  width: max-content;
  max-width: 160px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border: white solid 0.5px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 10;
  opacity: 0;
}

.tooltip:hover::before {
  opacity: 1;
}

.tooltip-2 {
  position: relative;
}

.tooltip-2:before {
  content: attr(mensaje);
  position: absolute;
  top: 240%;
  right: 0;
  width: max-content;
  max-width: 160px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border: white solid 0.5px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 10;
  opacity: 0;
}

.tooltip-2:hover::before {
  opacity: 1;
}

/*{DIV CON FOTO DE PERFIL}*/

.perfil-div {
  margin-left: 0.5rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: white solid 2px;
  overflow: hidden;
}

.img-perfil {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 740px) {
  .nav-menu {
    flex-direction: column;
    align-items: left;
    padding-top: 10rem;
    width: 100%;
    height: 100vh;
    background: #111;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 5; /*{Para que este encima de .cuenta-menu que tiene 0 de z-index aca puse 5 mas}*/
    transition: 0.3s;
  }

  .nav-menu li {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    padding-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburguer {
    display: initial;
    z-index: 10;
    cursor: pointer;
  }

  .titulo {
    display: none;
  }

  .nav-menu li .sub-menu {
    display: none;
  }

  .children {
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    background-color: #222;
    border-bottom: 2.5px solid white;
    border-top: 2.5px solid white;
  }

  .children .sub-li {
    display: block;
    overflow: hidden;
    padding: 0.2rem 0em;
    color: white;
    margin-left: 1em;
    font-size: 0.8rem;
  }

  .cuenta-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.959);
    border-left: ivory solid 2px;
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 0;
    transition: 0.3s;
  }

  /*{HOVERS}*/

  .nav-menu li {
    text-decoration: none;
    transition: none;
  }

  .nav-menu li:hover {
    color: white;
    transition: none;
    text-decoration-color: none;
    text-shadow: none;
  }

  .sub-perfil:hover {
    color: crimson;
    transition: all 0.2s ease;
  }

  /*{DIV CON FOTO DE PERFIL}*/

  .perfil-div {
    width: 30px;
    height: 30px;
    margin-top: -0.5em;
  }
}
