.card-list {
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 0em 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow: hidden;
}

.card-item {
  width: 100%;
  height: 100%;
  border: solid rgba(17, 17, 17, 0.644) 1px;
  border-radius: 5px;
  position: relative;
}

.img-prop {
  width: 100%;
  height: 100%;
  border-radius: 5px;

}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.p1 {
  display: flex;
  align-items: center;
  font-size: 5px;
  margin: 2em;
  padding: 1em;
  border-radius: 100px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.336);
  position: absolute;
  cursor: pointer;
}

.card-bot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  position: absolute;
  bottom: 0;
}

.direccion {
  display: flex;
  align-items: center;
  padding: 1px 5px;
  background-color: white;
  color: #222;
  font-weight: 400;
  font-size: 13px;
  border: white solid 2px;
  border-radius: 5px;
}

.btn-mas {
  padding: 1px 5px;
  background-color: white;
  color: #222;
  font-weight: 400;
  font-size: 13px;
  border: white solid 2px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-mas:hover {
  padding: 1px 5px;
  background-color: rgba(255, 255, 255, 0.171);
  color: white;
  font-weight: 400;
  font-size: 13px;
  border: white solid 2px;
  border-radius: 5px;
}

/*{TOOLTIP}*/

.tooltip-mis-favs {
  position: relative;
}

.tooltip-mis-favs:before {
  content: attr(mensaje);
  position: absolute;
  top: 170%;
  left: 0;
  width: max-content;
  max-width: 160px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 10;
  opacity: 0;
}

.tooltip-mis-favs:hover::before {
  opacity: 1;
}

@media screen and (max-width: 440px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    overflow: hidden;
  }

  .direccion {
    padding: 1px 5px;
    background-color: white;
    color: #222;
    font-weight: 400;
    font-size: 11px;
    border: white solid 2px;
    border-radius: 5px;
  }

  .btn-mas {
    padding: 1px 5px;
    background-color: white;
    color: #222;
    font-weight: 400;
    font-size: 11px;
    border: white solid 2px;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    overflow: hidden;
  }
}

/*{de 740 para arriba}*/

@media screen and (min-width: 740px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: hidden;
  }
}
